<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>1</key>
    <dict>
        <key>acceleration</key>
        <real>0.0</real>
        <key>interval</key>
        <real>3.0</real>
    </dict>
    <key>2</key>
    <dict>
        <key>acceleration</key>
        <real>0.25</real>
        <key>interval</key>
        <real>3.0</real>
    </dict>
    <key>3</key>
    <dict>
        <key>acceleration</key>
        <real>0.25</real>
        <key>interval</key>
        <real>2.5</real>
    </dict>
    <key>4</key>
    <dict>
        <key>acceleration</key>
        <real>0.5</real>
        <key>interval</key>
        <real>2.5</real>
    </dict>
    <key>5</key>
    <dict>
        <key>acceleration</key>
        <real>0.5</real>
        <key>interval</key>
        <real>2.0</real>
    </dict>
    <key>6</key>
    <dict>
        <key>acceleration</key>
        <real>0.5</real>
        <key>interval</key>
        <real>1.5</real>
    </dict>
    <key>7</key>
    <dict>
        <key>acceleration</key>
        <real>0.75</real>
        <key>interval</key>
        <real>1.5</real>
    </dict>
    <key>8</key>
    <dict>
        <key>acceleration</key>
        <real>0.75</real>
        <key>interval</key>
        <real>1.0</real>
    </dict>
    <key>9</key>
    <dict>
        <key>acceleration</key>
        <real>1.0</real>
        <key>interval</key>
        <real>1.0</real>
    </dict>
    <key>10</key>
    <dict>
        <key>acceleration</key>
        <real>1.25</real>
        <key>interval</key>
        <real>1.0</real>
    </dict>
</dict>
</plist>
